body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eef;
  background: linear-gradient(0deg, rgba(148, 141, 141, 0.925), rgba(222, 213, 213, 0.239)), url('/public/abstract-background.png') no-repeat center center;
  background-size: cover; 
  min-height: 100vh; 
  text-shadow: 2px 2px 4px #000000; 
}

.city-weather{
  background-color: #727F8D;
  background-size: cover;
  margin: 2px;
}

.add-city{
  background: #B1C9D1;
}
